---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GithubIcon from "../components/icons/Github.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Code from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import Person from "../components/icons/Person.astro";
import About from "../components/icons/About.astro";
---

<Layout
  title="Portfolio Jordi Ortega - Backend Developer"
  description="If you're looking to hire a dedicated backend developer, explore his portfolio to discover innovative projects that demonstrate his commitment to quality and efficieny."
>
  <main class="px-6">
    <SectionContainer class="py-44 pb-32">
      <img src="/images/jordi.webp" class="rounded-full w-20 h-20 mb-4"/>
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, I'm Jordi
        <a
          class="flex justify-center items-center"
          href="https://www.linkedin.com/in/jordi-ortega/"
          target="_blank"
          rel="noopener"
        >
          <Badge>Available for hire</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl opacity-80 text-pretty max-w-[700px]">
        I'm a <span class="text-mocha-green">
          <strong>Backend Developer</strong></span
        > focused on building scalable and efficient systems with <span
          class="font-bold">Go</span
        >, <span class="font-bold">Java</span>, <span class="font-bold"
          >PosTgreSQL</span
        >, and <span class="font-bold">Spring boot.</span>
         I also have experience with <span class="font-bold">HTML</span>, <span
          class="font-bold">CSS</span
        >,
        <span class="font-bold">JavaScript</span> which help me collaborate effectively
        on full-stack projects. I love solving complex problems and delivering high-performance
        solutions
      </h2>
      <ul>
        <nav class="flex gap-2 mt-8 flex-wrap">
          <SocialPill
            href="https://www.linkedin.com/in/jordi-ortega/"
          >
            <LinkedInIcon class="size-4 md:size-6" />
            LinkedIn
          </SocialPill>
          <SocialPill href="https://github.com/zJordiOrtega">
            <GithubIcon class="size-4 md:size-6" />
            Github
          </SocialPill>
          <SocialPill href="mailto:zjordi.ortega@gmail.com">
            <MailIcon class="size-4 md:size-6" />
            zjordi.ortega@gmail.com
          </SocialPill>
        </nav>
      </ul>
    </SectionContainer>
    <SectionContainer id="projects">
      <h2 class="text-4xl font-semibold mb-10 flex gap-x-3 items-center">
        <Code class="size-7" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id="experience">
      <h2 class="text-4xl font-semibold mb-10 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        Experience
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="about-me">
      <h2 class="text-4xl font-semibold mb-10 flex gap-x-3 items-center">
        <Person class="size-7" />
        About me
      </h2>
      <About />
    </SectionContainer>
  </SectionContainer>
  </main>
</Layout>
