<article
  class="flex flex-col items-center justify-center gap-8 text-white/90 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-mocha-red dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-bold text-pretty order-2 md:order-1"
  >
    <p>
      I’m Jordi Ortega, a backend developer from Mexico, currently studying at
      the
      <strong>Instituto Tecnológico de Tijuana</strong>. I specialize in
      building scalable APIs and efficient backend systems using <strong
        >Go</strong
      >, <strong>Java</strong>, <strong>SQL</strong>, and <strong
        >JavaScript</strong
      >.
    </p>

    <p>
      I also have experience in front-end technologies like <strong>HTML</strong
      >,
      <strong>CSS</strong>, and <strong>Tailwind</strong>, focusing on creating
      responsive and clean interfaces. My core strengths lie in delivering
      high-quality code, optimizing performance, and collaborating effectively
      within teams using agile methodologies.
    </p>

    <p>
      I’m always looking for new challenges where I can apply my skills in
      backend development and contribute to innovative and impactful projects.
    </p>
  </div>
  <img
    src="/images/jordi.webp"
    alt="Jordi photo"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2x1 bg-black/20 ring-1 ring-black/70"
    style="object-position: 50% 50%;"
  />
</article>
